{%extends "layout.html" %} <!-- inheriting  the layout page by extends keyword-->

{% block content %}<!--then overriding the content block of the for loop-->
   <h1 class="mb-3"> Post by {{ user.username }} ({{ posts.total }})</h1>
     {% for post in posts %} <!--for pagination of every post item -->
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename ='profile_pics/' + post.author.image_file)}}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{url_for('user_posts',username=post.author.username)}}">{{post.author.username}}</a>
                <small class="text-muted">{{post.date_posted.strftime('%Y-%m-%d') }}</small> <!-- using the strftime method for datetime  -->
            </div>
            <h3><a class="article-title" href="{{ url_for('post', post_id= post.id) }}">{{post.title}}</a></h3>
            <p class="'article-content">{{post.content}}</p>
        </div>
    </article>
            
    {% endfor %}

   <!--code block for the number of page and pagelink in home page for post --> 
    {% for page_num  in posts.iter_pages(left_edge=1, right_edge=1, left_current= 1, right_current=2) %}
       {% if page_num %}
        {% if posts.page==page_num %}
        <a class="btn btn-info mb-4" href="{{ url_for('user_posts',username= user.username, page=page_num) }}">{{ page_num }}</a> <!-- here page = current page number page_num, and it has text as a link-->        
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('user_posts',username= user.username,  page=page_num) }}">{{ page_num }}</a> <!-- here page = current page number page_num, and it has text as a link-->
        {% endif %}
          {% else %}
            ...
       {% endif %}
    {% endfor %}

{% endblock content %} <!--jinja allows to put the name of block as expilicit-->

